@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,300&display=swap');
blockquote{
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
    margin: 15px auto 50px;
    color: var(--articleText);
    font-family: 'KoHo', sans-serif;
    font-style: italic;
}

blockquote > p {
  font-family: 'KoHo', sans-serif;
  max-width: 880px !important;
  min-height: 60px;
  padding-right: 100px;
  padding-bottom: 0;
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.32;
  font-weight: bold;
  border: 1px solid rgb(135, 136, 136);
  border-left: 4px solid rgb(63, 120, 173);
  border-top-right-radius: 6em;
  border-bottom-right-radius: 6em;
  padding-left: 20px;
}

@media screen and (max-width: 735px) {
    blockquote{
        margin: 10px auto 35px;
        font-size: 26px;
        padding: 0 180px;
    }
}

@media screen and (max-width: 540px) {
    blockquote{
        font-size: 36px;
        padding: 0 20px 0 40px;
    }
}