<div id="logo-desktop">
  <svg 
  width="239.343" 
  height="24.634" 
  viewBox="0 0 239.343 24.634" 
  xmlns="http://www.w3.org/2000/svg">
    <g
      clipPath="url(#clip0)" 
      id="logo-desktop-text" 
      fill="none"
    >
    
       <path class="change-fill"
        d="M 6.958 19.299 L 0 19.299 L 0 17.419 L 1.941 17.053 L 1.941 3.784 L 0 3.418 L 0 1.526 L 6.958 1.526 L 6.958 3.418 L 5.017 3.784 L 5.017 9.326 L 12.793 9.326 L 12.793 3.784 L 10.852 3.418 L 10.852 1.526 L 12.793 1.526 L 15.857 1.526 L 17.798 1.526 L 17.798 3.418 L 15.857 3.784 L 15.857 17.053 L 17.798 17.419 L 17.798 19.299 L 10.852 19.299 L 10.852 17.419 L 12.793 17.053 L 12.793 11.719 L 5.017 11.719 L 5.017 17.053 L 6.958 17.419 L 6.958 19.299 Z" 
        id="0" 
        vector-effect="non-scaling-stroke"
        fill="#000"
       />
       
       <path class="change-fill"
        d="M 19.458 13.025 L 19.458 12.512 Q 19.458 10.583 20.209 9.076 Q 20.959 7.568 22.278 6.708 A 5.322 5.322 0 0 1 25.059 5.851 A 6.457 6.457 0 0 1 25.281 5.847 Q 27.075 5.847 28.29 6.567 A 4.58 4.58 0 0 1 30.127 8.612 Q 30.75 9.937 30.75 11.792 L 30.75 13.55 L 22.644 13.55 L 22.62 13.611 A 5.347 5.347 0 0 0 22.763 14.634 A 4.245 4.245 0 0 0 23.053 15.454 A 3.039 3.039 0 0 0 24.152 16.724 A 2.817 2.817 0 0 0 25.18 17.125 A 3.867 3.867 0 0 0 25.891 17.188 A 6.817 6.817 0 0 0 27.023 17.097 A 5.457 5.457 0 0 0 27.844 16.895 A 6.004 6.004 0 0 0 29.468 16.064 L 30.432 17.993 A 5.621 5.621 0 0 1 29.544 18.6 Q 29.047 18.878 28.442 19.104 Q 27.27 19.542 25.718 19.555 A 11.366 11.366 0 0 1 25.623 19.556 Q 23.755 19.556 22.369 18.719 A 5.696 5.696 0 0 1 20.221 16.406 A 6.823 6.823 0 0 1 19.525 14.118 A 8.643 8.643 0 0 1 19.458 13.025 Z M 22.656 11.328 L 22.693 11.389 L 27.808 11.389 L 27.808 11.072 A 4.846 4.846 0 0 0 27.752 10.318 A 3.515 3.515 0 0 0 27.545 9.552 A 2.22 2.22 0 0 0 27.082 8.826 A 2.103 2.103 0 0 0 26.727 8.533 Q 26.212 8.193 25.439 8.168 A 3.84 3.84 0 0 0 25.317 8.167 A 2.256 2.256 0 0 0 24.518 8.305 A 2.078 2.078 0 0 0 24.011 8.582 Q 23.45 8.997 23.114 9.711 A 5.106 5.106 0 0 0 22.772 10.703 A 6.397 6.397 0 0 0 22.656 11.328 Z" 
        id="1" 
        vector-effect="non-scaling-stroke"
        fill="#000"
       />

       <path class="change-fill"
        d="M 38.477 11.475 L 40.491 11.475 L 40.491 10.364 A 2.833 2.833 0 0 0 40.402 9.636 A 2.038 2.038 0 0 0 39.862 8.691 Q 39.233 8.069 38.037 8.069 Q 37.365 8.069 36.846 8.228 A 2.983 2.983 0 0 0 36.829 8.234 A 3.232 3.232 0 0 0 36.028 8.607 A 2.991 2.991 0 0 0 35.889 8.704 L 35.608 10.486 L 33.35 10.486 L 33.325 7.227 A 8.59 8.59 0 0 1 35.202 6.317 A 9.748 9.748 0 0 1 35.498 6.219 A 8.148 8.148 0 0 1 37.056 5.904 A 10.378 10.378 0 0 1 38.159 5.847 A 8.678 8.678 0 0 1 39.745 5.983 Q 41.165 6.247 42.12 7.025 A 3.825 3.825 0 0 1 43.487 9.426 A 5.708 5.708 0 0 1 43.567 10.4 L 43.567 16.223 A 22.06 22.06 0 0 0 43.573 16.748 Q 43.579 17.004 43.604 17.249 L 44.946 17.419 L 44.946 19.299 L 40.93 19.299 A 33.265 33.265 0 0 1 40.731 18.57 A 30.064 30.064 0 0 1 40.704 18.469 A 6.235 6.235 0 0 1 40.552 17.664 Q 39.893 18.494 38.959 19.025 A 4.086 4.086 0 0 1 37.213 19.543 A 4.941 4.941 0 0 1 36.853 19.556 Q 35.299 19.556 34.275 18.938 A 3.445 3.445 0 0 1 33.716 18.518 A 3.414 3.414 0 0 1 32.673 16.579 A 4.997 4.997 0 0 1 32.593 15.662 A 3.827 3.827 0 0 1 32.821 14.324 A 3.498 3.498 0 0 1 33.276 13.477 A 3.936 3.936 0 0 1 34.312 12.505 A 5.484 5.484 0 0 1 35.278 12.006 A 6.851 6.851 0 0 1 36.635 11.625 Q 37.266 11.512 37.986 11.484 A 12.539 12.539 0 0 1 38.477 11.475 Z M 40.491 15.649 L 40.491 13.44 L 38.44 13.44 A 4.745 4.745 0 0 0 37.662 13.499 Q 37.245 13.569 36.913 13.72 A 2.109 2.109 0 0 0 36.359 14.081 A 2.318 2.318 0 0 0 35.907 14.631 A 1.858 1.858 0 0 0 35.657 15.576 A 1.937 1.937 0 0 0 35.714 16.063 A 1.328 1.328 0 0 0 36.145 16.76 Q 36.633 17.175 37.549 17.175 Q 38.477 17.175 39.282 16.742 A 3.606 3.606 0 0 0 39.939 16.294 A 2.751 2.751 0 0 0 40.491 15.649 Z" 
        id="2" 
        vector-effect="non-scaling-stroke"
        fill="#000"
       />

       <path class="change-fill"
        d="M 54.602 19.299 L 51.611 19.299 L 47.327 8.191 L 45.923 7.983 L 45.923 6.091 L 51.965 6.091 L 51.965 7.983 L 50.439 8.228 L 52.82 14.856 L 53.137 15.906 L 53.21 15.906 L 53.577 14.856 L 55.981 8.228 L 54.309 7.983 L 54.309 6.091 L 60.339 6.091 L 60.339 7.983 L 58.899 8.203 L 54.602 19.299 Z" 
        id="3" 
        vector-effect="non-scaling-stroke"
        fill="#000"
       />

       <path class="change-fill"
        d="M 61.499 13.025 L 61.499 12.512 Q 61.499 10.583 62.25 9.076 Q 63 7.568 64.319 6.708 A 5.322 5.322 0 0 1 67.1 5.851 A 6.457 6.457 0 0 1 67.322 5.847 Q 69.116 5.847 70.331 6.567 A 4.58 4.58 0 0 1 72.168 8.612 Q 72.791 9.937 72.791 11.792 L 72.791 13.55 L 64.685 13.55 L 64.661 13.611 A 5.347 5.347 0 0 0 64.804 14.634 A 4.245 4.245 0 0 0 65.094 15.454 A 3.039 3.039 0 0 0 66.193 16.724 A 2.817 2.817 0 0 0 67.221 17.125 A 3.867 3.867 0 0 0 67.932 17.188 A 6.817 6.817 0 0 0 69.064 17.097 A 5.457 5.457 0 0 0 69.885 16.895 A 6.004 6.004 0 0 0 71.509 16.064 L 72.473 17.993 A 5.621 5.621 0 0 1 71.585 18.6 Q 71.088 18.878 70.483 19.104 Q 69.311 19.542 67.759 19.555 A 11.366 11.366 0 0 1 67.664 19.556 Q 65.796 19.556 64.41 18.719 A 5.696 5.696 0 0 1 62.262 16.406 A 6.823 6.823 0 0 1 61.566 14.118 A 8.643 8.643 0 0 1 61.499 13.025 Z M 64.697 11.328 L 64.734 11.389 L 69.849 11.389 L 69.849 11.072 A 4.846 4.846 0 0 0 69.793 10.318 A 3.515 3.515 0 0 0 69.586 9.552 A 2.22 2.22 0 0 0 69.123 8.826 A 2.103 2.103 0 0 0 68.768 8.533 Q 68.253 8.193 67.48 8.168 A 3.84 3.84 0 0 0 67.358 8.167 A 2.256 2.256 0 0 0 66.559 8.305 A 2.078 2.078 0 0 0 66.052 8.582 Q 65.491 8.997 65.155 9.711 A 5.106 5.106 0 0 0 64.813 10.703 A 6.397 6.397 0 0 0 64.697 11.328 Z" 
        id="4" 
        vector-effect="non-scaling-stroke"
        fill="#000"
       />

       <path class="change-fill"
        d="M 81.03 19.299 L 74.451 19.299 L 74.451 17.419 L 76.282 17.053 L 76.282 8.35 L 74.353 7.983 L 74.353 6.091 L 79.114 6.091 L 79.272 8.008 A 4.966 4.966 0 0 1 80.332 6.814 A 4.565 4.565 0 0 1 80.914 6.415 A 4.261 4.261 0 0 1 82.75 5.862 A 5.203 5.203 0 0 1 83.142 5.847 A 5.33 5.33 0 0 1 84.464 6.002 A 3.665 3.665 0 0 1 86.316 7.098 Q 87.139 8.006 87.366 9.655 A 10.003 10.003 0 0 1 87.451 11.011 L 87.451 17.053 L 89.282 17.419 L 89.282 19.299 L 82.654 19.299 L 82.654 17.419 L 84.375 17.053 L 84.375 11.035 A 5.949 5.949 0 0 0 84.333 10.299 Q 84.216 9.367 83.777 8.905 Q 83.256 8.358 82.292 8.287 A 4.053 4.053 0 0 0 81.995 8.276 A 3.378 3.378 0 0 0 81.172 8.372 A 2.708 2.708 0 0 0 80.438 8.673 A 3.048 3.048 0 0 0 79.384 9.734 A 3.581 3.581 0 0 0 79.358 9.778 L 79.358 17.053 L 81.03 17.419 L 81.03 19.299 Z" 
        id="5" 
        vector-effect="non-scaling-stroke"
        fill="#000"
       />

       <path class="change-fill"
        d="M 97.253 19.299 L 90.503 19.299 L 90.503 17.419 L 92.346 17.053 L 92.346 2.515 L 90.393 2.148 L 90.393 0.256 L 95.41 0.256 L 95.41 17.053 L 97.253 17.419 L 97.253 19.299 Z" 
        id="6" 
        vector-effect="non-scaling-stroke"
        fill="#000"
       />
       
       <path class="change-fill"
        d="M 100.232 24.377 L 100.574 22.07 Q 100.793 22.107 101.105 22.131 A 11.601 11.601 0 0 0 101.252 22.142 Q 101.462 22.156 101.599 22.156 A 2.025 2.025 0 0 0 102.282 22.044 A 1.776 1.776 0 0 0 102.893 21.674 Q 103.369 21.237 103.684 20.494 A 5.084 5.084 0 0 0 103.748 20.337 L 104.15 19.275 L 99.634 8.203 L 98.096 7.983 L 98.096 6.091 L 104.492 6.091 L 104.492 7.983 L 102.869 8.228 L 105.164 14.38 L 105.566 15.527 L 105.64 15.527 L 108.35 8.215 L 106.726 7.983 L 106.726 6.091 L 112.793 6.091 L 112.793 7.983 L 111.365 8.191 L 106.25 21.289 Q 105.884 22.217 105.341 22.98 Q 104.797 23.743 103.973 24.188 Q 103.198 24.608 102.103 24.632 A 6.128 6.128 0 0 1 101.965 24.634 A 4.759 4.759 0 0 1 101.612 24. 62 Q 101.371 24.602 101.093 24.561 Q 100.598 24.487 100.232 24.377 Z" 
        id="7" 
        vector-effect="non-scaling-stroke"
        fill="#000"
       />

       <path 
        d="M 126.953 19.299 L 119.995 19.299 L 119.995 17.419 L 121.936 17.053 L 121.936 3.784 L 119.995 3.418 L 119.995 1.526 L 128.21 1.526 Q 129.952 1.526 131.251 1.993 A 6.203 6.203 0 0 1 131.628 2.142 A 5.315 5.315 0 0 1 132.876 2.891 A 4.387 4.387 0 0 1 133.789 3.906 A 4.549 4.549 0 0 1 134.446 5.617 A 6.133 6.133 0 0 1 134.534 6.677 Q 134.534 8.24 133.795 9.399 A 4.879 4.879 0 0 1 131.916 11.107 A 5.87 5.87 0 0 1 131.732 11.2 A 6.462 6.462 0 0 1 130.048 11.735 A 8.75 8.75 0 0 1 128.625 11.865 L 125.012 11.902 L 125.012 17.053 L 126.953 17.419 L 126.953 19.299 Z M 135.315 19.299 L 131.555 19.299 L 128.162 11.121 L 131.042 10.645 L 133.923 17.102 L 135.315 17.395 L 135.315 19.299 Z M 125.012 3.906 L 125.012 9.509 L 128.076 9.509 A 6.85 6.85 0 0 0 128.98 9.454 Q 130.034 9.313 130.629 8.816 A 2.118 2.118 0 0 0 130.64 8.807 A 2.264 2.264 0 0 0 131.388 7.544 A 3.502 3.502 0 0 0 131.47 6.763 A 3.429 3.429 0 0 0 131.356 5.858 A 2.522 2.522 0 0 0 130.664 4.681 A 2.497 2.497 0 0 0 129.742 4.131 Q 129.36 3.998 128.892 3.943 A 5.922 5.922 0 0 0 128.21 3.906 L 125.012 3.906 Z" 
        id="9" 
        vector-effect="non-scaling-stroke"
        fill="#7A8085"
       />

       <path 
        d="M 137.109 13.025 L 137.109 12.512 Q 137.109 10.583 137.86 9.076 Q 138.611 7.568 139.929 6.708 A 5.322 5.322 0 0 1 142.71 5.851 A 6.457 6.457 0 0 1 142.932 5.847 Q 144.727 5.847 145.941 6.567 A 4.58 4.58 0 0 1 147.778 8.612 Q 148.401 9.937 148.401 11.792 L 148.401 13.55 L 140.295 13.55 L 140.271 13.611 A 5.347 5.347 0 0 0 140.414 14.634 A 4.245 4.245 0 0 0 140.704 15.454 A 3.039 3.039 0 0 0 141.803 16.724 A 2.817 2.817 0 0 0 142.831 17.125 A 3.867 3.867 0 0 0 143.542 17.188 A 6.817 6.817 0 0 0 144.674 17.097 A 5.457 5.457 0 0 0 145.496 16.895 A 6.004 6.004 0 0 0 147.119 16.064 L 148.083 17.993 A 5.621 5.621 0 0 1 147.195 18.6 Q 146.698 18.878 146.094 19.104 Q 144.921 19.542 143.37 19.555 A 11.366 11.366 0 0 1 143.274 19.556 Q 141.406 19.556 140.021 18.719 A 5.696 5.696 0 0 1 137.872 16.406 A 6.823 6.823 0 0 1 137.177 14.118 A 8.643 8.643 0 0 1 137.109 13.025 Z M 140.308 11.328 L 140.344 11.389 L 145.459 11.389 L 145.459 11.072 A 4.846 4.846 0 0 0 145.403 10.318 A 3.515 3.515 0 0 0 145.197 9.552 A 2.22 2.22 0 0 0 144.733 8.826 A 2.103 2.103 0 0 0 144.379 8.533 Q 143.863 8.193 143.09 8.168 A 3.84 3.84 0 0 0 142.969 8.167 A 2.256 2.256 0 0 0 142.169 8.305 A 2.078 2.078 0 0 0 141.663 8.582 Q 141.101 8.997 140.765 9.711 A 5.106 5.106 0 0 0 140.423 10.703 A 6.397 6.397 0 0 0 140.308 11.328 Z" 
        id="10" 
        vector-effect="non-scaling-stroke"
        fill="#7A8085"
       />

       <path 
        d="M 157.446 19.299 L 150.232 19.299 L 150.232 17.419 L 152.075 17.053 L 152.075 8.289 L 150.061 8.289 L 150.061 6.091 L 152.075 6.091 L 152.075 4.541 A 6.291 6.291 0 0 1 152.211 3.193 Q 152.479 1.97 153.278 1.184 A 3.946 3.946 0 0 1 155.085 0.184 Q 155.788 0 156.641 0 A 7.22 7.22 0 0 1 157.278 0.029 A 8.99 8.99 0 0 1 157.715 0.079 A 10.529 10.529 0 0 1 158.329 0.182 A 8.225 8.225 0 0 1 158.765 0.281 L 158.459 2.588 A 3.812 3.812 0 0 0 158.25 2.545 Q 158.061 2.511 157.825 2.484 Q 157.446 2.441 157.08 2.441 A 2.817 2.817 0 0 0 156.521 2.493 Q 156.198 2.559 155.95 2.707 A 1.429 1.429 0 0 0 155.621 2.979 A 1.725 1.725 0 0 0 155.268 3.61 Q 155.139 4.01 155.139 4.541 L 155.139 6.091 L 158.093 6.091 L 158.093 8.289 L 155.139 8.289 L 155.139 17.053 L 157.446 17.419 L 157.446 19.299 Z" 
        id="11" 
        vector-effect="non-scaling-stroke"
        fill="#7A8085"
       />
       
       <path 
        d="M 166.101 19.299 L 159.351 19.299 L 159.351 17.419 L 161.194 17.053 L 161.194 2.515 L 159.241 2.148 L 159.241 0.256 L 164.258 0.256 L 164.258 17.053 L 166.101 17.419 L 166.101 19.299 Z" 
        id="12" 
        vector-effect="non-scaling-stroke"
        fill="#7A8085"
       />

       <path 
        d="M 167.517 13.025 L 167.517 12.512 Q 167.517 10.583 168.268 9.076 Q 169.019 7.568 170.337 6.708 A 5.322 5.322 0 0 1 173.118 5.851 A 6.457 6.457 0 0 1 173.34 5.847 Q 175.134 5.847 176.349 6.567 A 4.58 4.58 0 0 1 178.186 8.612 Q 178.809 9.937 178.809 11.792 L 178.809 13.55 L 170.703 13.55 L 170.679 13.611 A 5.347 5.347 0 0 0 170.822 14.634 A 4.245 4.245 0 0 0 171.112 15.454 A 3.039 3.039 0 0 0 172.211 16.724 A 2.817 2.817 0 0 0 173.239 17.125 A 3.867 3.867 0 0 0 173.95 17.188 A 6.817 6.817 0 0 0 175.082 17.097 A 5.457 5.457 0 0 0 175.903 16.895 A 6.004 6.004 0 0 0 177.527 16.064 L 178.491 17.993 A 5.621 5.621 0 0 1 177.603 18.6 Q 177.106 18.878 176.501 19.104 Q 175.329 19.542 173.777 19.555 A 11.366 11.366 0 0 1 173.682 19.556 Q 171.814 19.556 170.428 18.719 A 5.696 5.696 0 0 1 168.28 16.406 A 6.823 6.823 0 0 1 167.584 14.118 A 8.643 8.643 0 0 1 167.517 13.025 Z M 170.715 11.328 L 170.752 11.389 L 175.867 11.389 L 175.867 11.072 A 4.846 4.846 0 0 0 175.811 10.318 A 3.515 3.515 0 0 0 175.604 9.552 A 2.22 2.22 0 0 0 175.141 8.826 A 2.103 2.103 0 0 0 174.786 8.533 Q 174.271 8.193 173.498 8.168 A 3.84 3.84 0 0 0 173.376 8.167 A 2.256 2.256 0 0 0 172.577 8.305 A 2.078 2.078 0 0 0 172.07 8.582 Q 171.509 8.997 171.173 9.711 A 5.106 5.106 0 0 0 170.831 10.703 A 6.397 6.397 0 0 0 170.715 11.328 Z" 
        id="13" 
        vector-effect="non-scaling-stroke"
        fill="#7A8085"
       />

       <path 
        d="M 180.603 12.915 L 180.603 12.488 Q 180.603 10.571 181.335 9.07 A 5.673 5.673 0 0 1 183.429 6.708 A 5.529 5.529 0 0 1 185.634 5.916 A 7.186 7.186 0 0 1 186.646 5.847 Q 188.283 5.847 189.511 6.353 A 5.617 5.617 0 0 1 189.6 6.39 A 7.618 7.618 0 0 1 190.712 6.978 A 5.741 5.741 0 0 1 191.663 7.739 L 191.675 11.267 L 189.331 11.267 L 188.879 8.936 Q 188.538 8.582 188.013 8.368 A 2.929 2.929 0 0 0 187.105 8.162 A 3.471 3.471 0 0 0 186.865 8.154 Q 185.852 8.154 185.138 8.704 A 3.179 3.179 0 0 0 184.303 9.684 A 4.119 4.119 0 0 0 184.052 10.223 A 5.399 5.399 0 0 0 183.762 11.337 Q 183.684 11.842 183.68 12.412 A 8.898 8.898 0 0 0 183.679 12.488 L 183.679 12.915 Q 183.679 14.021 183.918 14.85 A 4.442 4.442 0 0 0 184.058 15.259 A 3.897 3.897 0 0 0 184.414 15.956 A 2.779 2.779 0 0 0 185.114 16.699 A 2.591 2.591 0 0 0 186.656 17.187 A 3.135 3.135 0 0 0 186.67 17.188 A 3.208 3.208 0 0 0 187.432 17.102 A 2.282 2.282 0 0 0 188.397 16.614 A 2.541 2.541 0 0 0 189.104 15.597 A 3.465 3.465 0 0 0 189.27 15.027 L 191.931 15.027 L 191.968 15.1 A 5.884 5.884 0 0 1 191.603 16.601 A 5.131 5.131 0 0 1 191.205 17.401 A 4.241 4.241 0 0 1 189.575 18.927 A 5.065 5.065 0 0 1 189.471 18.982 Q 188.523 19.469 187.155 19.543 A 9.291 9.291 0 0 1 186.658 19.556 A 6.823 6.823 0 0 1 185.002 19.363 A 5.402 5.402 0 0 1 183.441 18.707 A 5.64 5.64 0 0 1 181.342 16.364 A 7.07 7.07 0 0 1 180.694 14.232 A 9.18 9.18 0 0 1 180.603 12.915 Z" 
        id="14" 
        vector-effect="non-scaling-stroke"
        fill="#7A8085"
       />

      
       <path 
        d="M 195.093 15.564 L 195.093 8.289 L 193.164 8.289 L 193.164 6.091 L 195.093 6.091 L 195.093 2.881 L 198.157 2.881 L 198.157 6.091 L 200.769 6.091 L 200.769 8.289 L 198.157 8.289 L 198.157 15.564 A 3.231 3.231 0 0 0 198.184 16.002 Q 198.252 16.495 198.486 16.769 A 0.96 0.96 0 0 0 198.505 16.791 A 1.146 1.146 0 0 0 199.209 17.158 A 1.639 1.639 0 0 0 199.451 17.175 Q 199.787 17.175 200.2 17.116 A 7.449 7.449 0 0 0 200.214 17.114 A 12.721 12.721 0 0 0 200.461 17.076 Q 200.707 17.036 200.88 16.995 A 3.717 3.717 0 0 0 200.891 16.992 L 201.208 19.153 A 8.279 8.279 0 0 1 200.638 19.298 Q 200.329 19.366 199.982 19.421 A 8.771 8.771 0 0 1 199.019 19.523 A 7.613 7.613 0 0 1 198.657 19.531 A 4.82 4.82 0 0 1 197.587 19.419 Q 196.84 19.249 196.297 18.821 A 2.93 2.93 0 0 1 196.033 18.585 Q 195.336 17.884 195.156 16.561 A 7.406 7.406 0 0 1 195.093 15.564 Z" 
        id="15" 
        vector-effect="non-scaling-stroke"
        fill="#7A8085"
       />

       <path 
       d="M 209.265 19.299 L 202.539 19.299 L 202.539 17.419 L 204.37 17.053 L 204.37 8.35 L 202.429 7.983 L 202.429 6.091 L 207.446 6.091 L 207.446 17.053 L 209.265 17.419 L 209.265 19.299 Z M 207.446 3.101 L 204.248 3.101 L 204.248 0.256 L 207.446 0.256 L 207.446 3.101 Z" 
       id="16" 
       vector-effect="non-scaling-stroke"
       fill="#7A8085"
       />

       <path 
        d="M 210.706 12.83 L 210.706 12.573 A 8.98 8.98 0 0 1 210.889 10.721 A 7.056 7.056 0 0 1 211.438 9.094 A 5.685 5.685 0 0 1 213.538 6.714 Q 214.905 5.847 216.785 5.847 Q 218.689 5.847 220.056 6.708 A 5.644 5.644 0 0 1 222.156 9.082 Q 222.888 10.596 222.888 12.573 L 222.888 12.83 A 9.078 9.078 0 0 1 222.705 14.693 A 7.101 7.101 0 0 1 222.156 16.327 A 5.609 5.609 0 0 1 220.062 18.701 A 5.499 5.499 0 0 1 218.047 19.455 A 7.306 7.306 0 0 1 216.809 19.556 A 7.104 7.104 0 0 1 215.194 19.38 A 5.422 5.422 0 0 1 213.538 18.701 A 5.596 5.596 0 0 1 211.438 16.327 A 7.303 7.303 0 0 1 210.8 14.192 A 9.478 9.478 0 0 1 210.706 12.83 Z M 219.824 12.83 L 219.824 12.573 A 8.333 8.333 0 0 0 219.752 11.447 A 6.061 6.061 0 0 0 219.495 10.327 Q 219.165 9.351 218.494 8.789 A 2.37 2.37 0 0 0 217.376 8.278 A 3.297 3.297 0 0 0 216.785 8.228 A 3.011 3.011 0 0 0 215.991 8.327 A 2.322 2.322 0 0 0 215.1 8.789 A 3.031 3.031 0 0 0 214.369 9.705 A 4.013 4.013 0 0 0 214.105 10.327 Q 213.782 11.304 213.782 12.573 L 213.782 12.83 A 8.634 8.634 0 0 0 213.853 13.966 Q 213.932 14.562 214.1 15.078 A 5.321 5.321 0 0 0 214.105 15.094 A 3.807 3.807 0 0 0 214.471 15.896 A 2.904 2.904 0 0 0 215.106 16.632 Q 215.784 17.188 216.809 17.188 A 3.106 3.106 0 0 0 217.583 17.096 A 2.304 2.304 0 0 0 218.5 16.632 A 3.001 3.001 0 0 0 219.2 15.771 A 4.057 4.057 0 0 0 219.495 15.094 A 6.126 6.126 0 0 0 219.751 13.97 Q 219.824 13.433 219.824 12.83 Z" 
        id="17" 
        vector-effect="non-scaling-stroke"
        fill="#7A8085"
       />

       <path
        d="M 231.091 19.299 L 224.512 19.299 L 224.512 17.419 L 226.343 17.053 L 226.343 8.35 L 224.414 7.983 L 224.414 6.091 L 229.175 6.091 L 229.333 8.008 A 4.966 4.966 0 0 1 230.393 6.814 A 4.565 4.565 0 0 1 230.975 6.415 A 4.261 4.261 0 0 1 232.811 5.862 A 5.203 5.203 0 0 1 233.203 5.847 A 5.33 5.33 0 0 1 234.525 6.002 A 3.665 3.665 0 0 1 236.377 7.098 Q 237.2 8.006 237.427 9.655 A 10.003 10.003 0 0 1 237.512 11.011 L 237.512 17.053 L 239.343 17.419 L 239.343 19.299 L 232.715 19.299 L 232.715 17.419 L 234.436 17.053 L 234.436 11.035 A 5.949 5.949 0 0 0 234.394 10.299 Q 234.277 9.367 233.838 8.905 Q 233.317 8.358 232.353 8.287 A 4.053 4.053 0 0 0 232.056 8.276 A 3.378 3.378 0 0 0 231.233 8.372 A 2.708 2.708 0 0 0 230.499 8.673 A 3.048 3.048 0 0 0 229.445 9.734 A 3.581 3.581 0 0 0 229.419 9.778 L 229.419 17.053 L 231.091 17.419 L 231.091 19.299 Z" 
        id="18" 
        vector-effect="non-scaling-stroke"
        fill="#7A8085"
      />
    </g>
 </svg>

        <defs>
          <clipPath id="clip0">
            <rect width="191.156" height="23" fill="white" />
          </clipPath>
        </defs>
      </svg>
</div>
<div 
  id="logo-mobile" 
  class="hidden"
>
    <svg 
    version="1.0" 
    xmlns="http://www.w3.org/2000/svg"
    width="23" 
    height="23" 
    viewBox="0 0 512.000000 512.000000"
    preserveAspectRatio="xMidYMid meet"
    >
   <metadata>
   Created by potrace 1.15, written by Peter Selinger 2001-2017
   </metadata>
   <g 
   transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
   fill="{{ $.Site.Params.Colors.primary }}" 
   stroke="none"
   >
   <path 
    d="M590 4383 l1 -738 756 -530 c698 -489 1151 -807 2618 -1837 l540
   -380 3 748 c2 590 -1 751 -10 760 -7 7 -308 218 -668 470 -360 251 -1230 859
   -1933 1351 -702 491 -1284 893 -1292 893 -13 0 -15 -92 -15 -737z"
   />
   <path 
   d="M3887 4708 l-597 -412 0 -381 0 -381 597 -419 c328 -231 602 -421
   610 -423 11 -3 13 204 13 1212 0 987 -2 1216 -13 1216 -7 0 -282 -186 -610
   -412z"
   />
   <path 
   d="M590 2135 c0 -910 3 -1225 11 -1225 10 0 343 231 1049 728 l155 109
   0 389 0 388 -595 418 c-327 229 -601 417 -607 418 -10 0 -13 -251 -13 -1225z"
   />
   <path 
   d="M590 320 l0 -310 1960 0 1960 0 0 310 0 310 -1960 0 -1960 0 0 -310z"
   />
   </g>
   </svg>
</div>